* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*The main flex container with markup layout
<div class="flex-container">
*/
.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/*Styles for the content of container elements*/
/*.flex-item {
    font-size: 40px;
    padding: 10px;
    color: black;
    text-align: center;
    text-shadow: 4px 2px 0 rgba(0, 0, 0, 0.2);
}*/

/* Custom styles for each elements.*/



.item-sidenav {
    background: #FFF;
    flex: 1;
    border: 2px solid black;
}

.item-main {
    background-color: #ffff;
    border: 2px solid black;
    flex: 2;
}


/* Custom styles
 You can change anything, these are just basic styles written for testing.*/

main {
    display: flex;
    flex: 1;
}


.name {
    left: 20px;
}



.post {
    display: flex;
}

.textField {
    display: flex;
    flex: 1;
    flex-direction: row;
    background-color: rgb(255, 255, 255);/* Цвет фона */
    border: 0;
    font-weight: 400;
    font-size: 20px; /* Размер шрифта */
    text-align: left;
    padding: 20px;
    margin-left: 20px;
}

.flex-message {
    background-color: #ffff;
    border: 0 solid black;
}

.show-more {
    justify-content: center;
    width: 100%;
    border: 2px solid black;
    color: rgb(29, 155, 240);
    font-size: 24px;
}

.fa-brands {
    color: red;
    margin: 2px;
    font-size: 24px;
}

.flex-message.message-icons {
    display: flex;
    flex-direction: row;
    padding-left: 18%;
}

.submit {
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 12px;
    width: 80px;
}
.twitter-submit-post {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;

}
.tweets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: 2px solid black;
    padding-left: 5%;
}

.fa-twitter {
    display: flex;
    color:blue;
}
.tweets-icons {
    border: 2px solid black;
    display: flex;
    flex:1;
    font-size: 28px;
    justify-content: space-around;
}
.ss {
    padding-top: 12px;
    font-size: 24px;
}
.img-post {
    margin: 10px 10px;
    display: flex;
    width: 58px;
    border-radius: 100px;
}

.tweets-content {
    flex-wrap: wrap;
    border: 2px solid yellow;
    display: flex;
    flex-direction: row;

}

h5.aside-content {
    padding-left: 10px;
}

.sidenav {
    flex: 1;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*Header made of flexbox*/

.header {
    position: fixed;
    display: flex;
    background-color: rgba(255, 255, 255, 0.950);
    width: 100vw;
    height: 50px;
    
}

.nummer1 {
    flex: 25%;   
}

.nummer2 {
    flex: 50%
}

.nummer3 {
    flex: 25%;
    
}

.header {
    display: flex;
    
}

 #twitter-logo {
    height: 28px; 
    width: 28px;
}



/*asside style*/
.aside-content {
    padding-top: 15px;
    background-color: #F5F8FA;
    display: flex;
    flex-direction: column;
    height: 822px;
    border-radius: 15px;
    flex: 3;

  
}

.row-1 {
    padding-left: 10px;
}

.row-1:hover {
    background-color: #E1E8ED;    
}

.aside {
    font-size: 13px; 
    display: flex;
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
    
}


.show {
    color: #1DA1F2;
}


#search-box {
    width: 100%;
    height: 44px;
    background-color: #EFF3F4;
    border-radius: 30px;
    display: flex;
    align-items:center;
    padding: 20px;
    flex: 3;
    
}

#search-box > i {
    font-size: 15px;
    color:gray;
    
}

#search-box > input {
    flex:1;
    height: 40px;
    width: 75%;
    border: none;
    outline: none;
    font-size: 15px;
    background-color: #EFF3F4;
    padding-left: 10px;
    
}

@media screen and (max-width: 650px) {
}


